.w3-display-bottomleft {
  margin-bottom: -4px;
}

.sample_work {
  height: 90px;
}

img.sub_pic {
  padding: 10px;
  width: 100%;
  height: 325px;
}

.modal-body img {
  margin: 20px;
/* padding: 1px; */
width: 90%;
}

.modal-content {
  width: 355px;
  height: 420px;
}

@media (max-width: 1200px)
body {
    display: none;
}
